/*======================== Basic  ================*/

 

html{
    position: relative;
    min-height: 100%;
}
body{
    background:url("../images/logo.jpg") no-repeat ;
   	background-attachment: fixed;
    background-position: top center;
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Neuton', serif;
    color: #ebebeb;
}

img{
	width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

#wrapper{
  margin: 0 auto;
  background-color: rgba(0,0,0,.8);
  background-size: cover;
}

.content{
/*  width: 100%;*/
  padding: 3%;
  margin: 0 auto;
  margin-bottom: 10%;
}

form{
	width: 90%;
	margin: 4em auto;
}


/*======================== Content Sections  ================*/

.post{
	padding: 5% 0 5% 0;
}

/*#postscontainer{
	width: 90%;
	margin: 0 auto;
}*/
.allMix{
  width: 100%;
/*  margin: 0 auto;*/
  text-align: center;
}

/*======================== FORMS  ================*/

#login{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 200px;
}
#login input{
	width: 50%;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #FFF;
	text-align: center;
	background: transparent;
	color: #fff;
}

input:focus {
  outline: none;
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}



/*======================== Navigation ================*/


nav{

	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 1% 0 1% 0;
	text-align: right;
	background: #111211;
 	z-index: 999;
}

nav a{
	margin-right: 8%;
	text-decoration: none;
	color: white; 
	font-family: 'Montserrat', sans-serif;	
	font-size: 1.5em;
	font-weight: 200;
	padding: 1%;
}

nav a:hover{
	color: #A53B3B;
}


/*======================== Headings  ================*/

h1{
	font-size: 2.5em;
	font-weight: 400;
	text-align: center;
}

h2{
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
}

h3{
	font-size: 1.5em;
	font-weight: 400;
	display: inline;
}

h3 > span{
	font-size: 1em;
	font-weight: 400;
}




/*======================== Buttons ================*/
#like, #download, .listen {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#like{
	text-decoration: none;
	font-size: 1.2em;
	background: rgb(28, 184, 65);  
}

#download{
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	background: #287F5C;  
	width: 96.9%;
	padding: 5px;
}

#loginbtn{
	display: inline-block;
	min-width: 12%;
	margin: 50px 10px 30px;
	padding: 10px;
	color: #FFF;
	background-color: transparent;
	border: 2px solid #FFF;
	border-radius: 3px;
	text-transform: capitalize;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.listen{
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	background: #1D8FAA;  
	width: 96.9%;
	padding: 5px;
	cursor: pointer;
}

label > span{
	color: red;
	font-size: 1.5em;
}

/*======================== Video ================*/

iframe{
  width: 80%;
  height: 300px;
}
/*======================== Gallery ================*/
.span_1_of_2 a img{
  width: 100%;
  height: auto;
}
.cover{
	width: 100%;
	height: auto;
}
#gallery{

	clear: left;
	width: 100%;
	margin-top: 5%;
}

/*======================== Footer ================*/

footer{
	background-color: #202020;
	text-align: center;
  	position: relative;
    left: 0;
    bottom: 0;
/*    height: 100px;
*/  width: 100%;
}

footer svg{
	width: 24.21px; 
	height: 24.211px;
}

footer p a{
	color: red;
	font-weight: 400;
}

/*========================= Widths ================*/


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 48.2%;
	text-align: center;
}
.span_1_of_4 {
	width: 23.8%;
}
.gal_1_of_4{
	width: 23%;
}
.col4{
	width: 42%;
	margin-left:4% 
}

.col6{
	width: 14.8%;
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 47.2%;
  text-align: center;
}

/*========================= MEDIA QUERIES ================*/

@media only screen and (max-width: 920px) {
	.col4{width: 50%;}
	.col6{}
}

@media only screen and (max-width: 720px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_2 { width: 100%; }
	iframe{ width: 100%}
	.col6{}
	.gal_1_of_4{width: }
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .gal_1_of_4, .col4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	footer{bottom: -280px;}
	.mb-slider, .mb-scroll{top: 37px !important;}
	.col6{width: 100%}
}


